rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /approvals/{community} {
      allow read, write: if false;
    }
    match /minawan/{userId} {
      allow read: if false;
      allow write: if false;

      // Explicitly deny access to all nested collections to ensure they are only accessible via Admin SDK
      match /{allPaths=**} {
        allow read, write: if false;
      }
    }
  }
}
